mat-toolbar{
    background-color: rgb(44, 44, 44);
    color: #1ed761;
}
button{
    background-color: rgb(44, 44, 44);
    color: #1ed761;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #1ed761;

}