input{
    margin-top: 10px;
	text-align: center;
    background-color: rgb(236, 233, 233);
    border: 1px solid rgb(236, 233, 233);
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(44, 44, 44);
    color: white;
    text-align: center;
}